.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-around;
 }
 .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    align-items: center;
 }
 
 .paginationStyle{
    margin:20px;
 }
 