.header {
  text-align: center;
  background-image: linear-gradient(to bottom right,#0f384b, #037f8c);
  color:rgb(205, 248, 248);
  padding: 70px 30px 70px 30px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
